* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #b0cb2c;
}

::selection {
    background-color: #70840e;
    color: #fff;
    text-shadow: 1px 1px 0px #333;
    filter: dropshadow(color=#333, offx=1, offy=1);
}

h1 {
    padding: 10px 20px;
    background-color: #b0cb2c;
    box-shadow: 5px 3px #70840e;
    font-size: 2.25em;
    margin: 1em 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Arial, sarif;
    font-weight: 900;
    margin: 0.5em 0;
}

hr {
    background-color: #70840e;
    height: 3px;
    border: 0;
    margin: 10px 0;
}

pre>code {
    box-shadow: inset 1px 1px 15px 1px #333;
    display: block;
    padding: 20px;
    margin: 2px 0;
    background-color: #70840e;
    color: #fff;
    text-shadow: 1px 1px 0px #333;
    filter: dropshadow(color=#333, offx=1, offy=1);
    overflow-x: auto;
}

blockquote {
    background-color: #d4e583;
    margin: 20px 0;
    padding: 20px 60px;
    box-shadow: 2px 2px 10px 1px #70840e;
    border-left-style: solid;
    border-left-color: #70840e;
    border-left-width: 5px;
    font-size: 90%;
}

code {
    background-color: #fdff99;
    color: #000;
    box-shadow: inset 0px 0px 3px 1px #b0cb2c;
    text-shadow: 1px 1px #d4e583;
    padding: 2px 8px;
    margin: 5px 0;
    font-size: 90%;
    border-radius: 5px;
    font-family: Consolas, "Courier New", Courier;
}

blockquote>h5 {
    float: right;
    position: relative;
    top: -20px;
}

ul, ol {
    margin: 10px 2em;
    font-family: Arial, sarif;
}

li {
    line-height: 150%;
}

p {
    font-family: Arial, sans-serif;
    font-weight: 200;
    font-size: 1.1em;
    line-height: 150%;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
    margin: 0.8em 0;
}

a {
    color: #70840e;
    font-weight: bold;
    text-decoration: none;
    border-bottom-style: dashed;
    border-bottom-color: #70840e;
    border-bottom-width: 1px;
}

a:hover {
    background-color: #70840e;
    color: #d4e583;
    text-shadow: 1px 1px 0px #666;
    filter: dropshadow(color=#70840e, offx=1, offy=1);
    -webkit-transition: color 0.8s;
    -moz-transition: color 0.8s;
    -o-transition: color 0.8s;
    transition: color 0.8s;
    -webkit-transition: background-color 0.8s;
    -moz-transition: background-color 0.8s;
    -o-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

h1>a {
    border: 0;
    text-shadow: 1px 1px #eee;
}

.license {
    margin: 20px 0;
    padding: 10px;
    border: 3px groove #b0cb2c;
    font-family: 'Times New Roman', Arial;
}

.license > a > img {
    float: left;
    margin-right: 10px;
}

.page {
    background: url(../img/sketch.jpg);
    background-color: #eee;
    margin-top: 5em;
    display: inline-block;
    
    box-shadow: 0px 0px 10px 2px #666;
    width: 80%;
    min-height: 200px;
}

.pageBack {
    width: 100%;
    height: 200px;
    background: url(../img/sketch.jpg);
    background-color: #eee;
    z-index: -10;
    position: relative;
    box-shadow: 0px 0px 10px 2px #666;
    -webkit-backface-visibility: hidden;
}

.rotLeft {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.rotRight {
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

.rotTop.rotLeft {
    margin-bottom: -200px;
    margin-top: 100px;
    left: 10px;
}

.rotTop.rotRight {
    margin-bottom: -250px;
    left: -10px;
}

.pageTitle {
    font-family: 'Lobster', cursive;
    font-size: 4.5em;
    margin-bottom: 0.25em;
    
    text-shadow: 0px 0px 10px #666;
    filter: dropshadow(color=#fff, offx=2, offy=2);
    border-bottom-style: solid;
    border-bottom-color: #70840e;
    border-bottom-width: 3px;
}

.rotBottom.rotLeft {
    margin-top: -150px;
    left: -10px;
}

.rotBottom.rotRight {
    margin-top: -200px;
    margin-bottom: 200px;
    left: 10px;
}

#contentDiv {
    padding: 50px 15%;
    margin: 0 auto;
}

.container {
    padding: 50px 10%;
}

p>img {
    border: dashed;
    border-width: 3px;
    border-color: #70840e;
    max-width: 100%;
}

.time {
    font-family: cursive;
    color: #70840e;
    margin: -0.5em 0 -0.3em 0;
}

.tag {
    background-color: #70840e;
    padding: 2px 5px;
    margin-right: 5px;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 0 1px #333;
}

.tag:hover {
    color: #d4e583;
    transition: 0.5s;
}

#tagPanel {
    margin: 5px 0 -5px 0;
}

.olderNewer {
    font-size: 120%;
    margin-bottom: 100px;
}

.olderNewer > div {
    margin: 10px 0;
}

.recentPost {
    float: right;
}

#friendDiv {
    margin-bottom: 200px;
}

.friend {
    width: 128px;
    height: 128px;
    background-color: #d4e583;
    border-radius: 64px;
    float: left;
    margin-right: -25px;
    margin-bottom: 20px;
}

.friend:hover {
    background-color: #fdff99;
    transition-duration: 0.5s;
    z-index: 10;
    box-shadow: 0 0 10px 1px #70840e;
}

.friend>a {
    border: none;
}

.friend>a:hover {
    background: transparent;
}

#disqus_thread {
    margin-top: 50px;
}

#footerDiv {
    width: 100%;
}

#footerImg {
    width: 100%;
    height: 10px;
    background: url(../img/footer.png);
    background-repeat: repeat-x;
}

#footerCnt {
    width: 100%;
    background-color: #000;
}

#footer {
    width: 1000px;
    margin: 0 auto;
    padding: 2em 0;
    color: #fff;
}

@media screen and (max-device-width: 600px) {
    body {
        font-size: 1.75em;
    }
    #contentDiv {
        padding: 50px 5%;
    }
    .pageBack {
        display: none;
    }
    p {
        font-size: 1.75em;
        line-height: 120%;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 150%;
    }
}
