/* green: #22C3AA, light green: #AEE2D9, lightest green: EEF3F0, red: DB6968 */

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #22C3AA;
    overflow-x: hidden;
    font-family: 'Lato', Arial, 'Microsoft YaHei', sarif;
    font-weight: 400;
}

::selection {
    background-color: #AEE2D9;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, Arial, 'Microsoft YaHei', sarif;
    font-weight: 900;
    margin: 0.5em 0;
    text-shadow: 1px 1px #efefef, 2px 2px #AEE2D9;
}

h1 {
    padding: 1em 80px 0 80px;
    font-size: 3em;
    margin: 1.5em -80px 0.5em -80px;
    text-shadow: 2px 2px #efefef, 4px 4px #ccc;
    box-sizing: border-box;
    border-top: 3px dashed #22C3AA;
    color: #22C3AA;
    position: relative;
    overflow: visible;
}

h1:before {
    background-image: url('../img/scissors.png');
    background-repeat: no-repeat;
    display: block;
    content: attr(data-title);
    position: absolute;
    top: -16px;
    height: 32px;
    width: 32px;
}

.h1-link {
    display: none;
    transition: 0.5s;
}

h1:hover .h1-link {
    display: inline;
}

blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
    text-shadow: 1px 1px #AEE2D9, 2px 2px #22C3AA;
}

.title-img {
    float: right;
    border-bottom: none;
}

a.title-img:hover {
    background: none;
}

.post-title-img {
    display: block;
    margin: 0.5em auto;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1.1em;
}

hr {
    background-color: #22C3AA;
    height: 3px;
    border: 0;
    margin: 10px 0;
}

pre>code {
    display: block;
    padding: 20px;
    margin: 2px 0;
    background-color: #eef3f0;
    overflow-x: auto;
    word-wrap: normal;
    white-space: inherit;
}

blockquote {
    background-color: #AEE2D9;
    margin: 20px 0;
    padding: 1em 1.5em;
    border-style: solid;
    border-color: #22C3AA;
    border-width: 0px 1px 0px 7px;
    color: #444;
    font-size: 1em;
}

blockquote a, blockquote a:hover {
    text-shadow: none;
    filter: none;
}

blockquote p {
    text-indent: 0;
    line-height: 1.5em;
    text-shadow: none;
    color: #666;
	font-size: 1em;
}

code {
    border: dashed 1px #22C3AA;
    color: #157A6B;
    padding: 2px 8px;
    margin: 5px 0;
    font-size: 90%;
    border-radius: 5px;
    font-family: Consolas, "Courier New", Courier;
    text-shadow: none;
    background-color: #eef3f0;
    word-wrap: break-word;
    white-space: pre;
}

h1>code, h2>code, h3>code {
    color: #000;
}

.no-indent {
    text-indent: 0;
}

.deleted {
    text-decoration: line-through;
    color: #999;
    font-style: italic;
}

.updated {
    color: #cc4444;
    font-style: italic;
}

strong {
    font-weight: bold;
}

ul, ol {
    margin: 10px 2em;
    font-family: Lato, Arial, sarif;
}

li {
    line-height: 150%;
}

li p {
    text-indent: 0;
}

p {
    font-family: Lato, Arial, 'Microsoft YaHei', sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
    margin: 0.8em 0;
    text-indent: 2em;
    color: #333;
}

em {
    font-style: normal;
    color: #157A6B;
}

blockquote em {
    color: #000;
}

a {
    color: #DB6968;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px #efefef, 2px 2px #ccc;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

a:visited {
    color: #666;
}

a:hover {
    color: #efefef;
    text-shadow: 1px 1px #666;
    background-color: #DB6968;
}

a:visited:hover {
    text-shadow: 1px 1px #666;
}

h1>a {
    border: 0;
    text-shadow: 2px 2px #efefef, 4px 4px #ccc;
}

#ovilia-home {
    display: none;
}

#titleDiv {
    width: 100%;
    height: 400px;
    opacity: 0;
    float: left;
}

#titlePanel {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: block;
    border: 0;
}

#titlePanel:hover {
    background-color: inherit;
}

#titleTao {
    width: 400px;
    height: 400px;
    display: block;
}

#titleWords {
    width: 400px;
    height: 400px;
    position: relative;
    top: -400px;
    opacity: 0;
    display: block;
}

#titleCircle {
    width: 333px;
    height: 333px;
    border-radius: 176px;
    margin: 33px 0 0 33px;
    position: relative;
    top: -800px;
    cursor: pointer;
}

.about-author {
    margin: 20px 0;
    padding: 10px;
    font-family: Lato, Arial, 'Times New Roman';
    font-size: 1em;
    
    border: dashed 2px #AEE2D9;
    color: #666;
    border-radius: 5px;
    background-color: #eef3f0;
}

.license {
    float: left;
}

.license div {
    margin-bottom: 5px;
}

.license > a > img {
    float: left;
    margin-right: 10px;
}

.follow-me {
    float: right;
}

.follow-me-txt {
    display: inline-block;
    margin-right: 10px;
}

.page {
    background: url(../img/sketch.png);
    background-color: #eee;
    margin-top: 5em;
    display: block;
    box-shadow: 0px 0px 10px 2px #666;
    min-height: 200px;
}

.pageBack {
    width: 100%;
    height: 200px;
    background: url(../img/sketch.png);
    background-color: #eee;
    z-index: -10;
    position: relative;
    box-shadow: 0px 0px 10px 2px #666;
    -webkit-backface-visibility: hidden;
}

.rotLeft {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.rotRight {
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

.rotTop.rotLeft {
    margin-bottom: -200px;
    margin-top: 100px;
    left: 10px;
}

.rotTop.rotRight {
    margin-bottom: -250px;
    left: -10px;
}

.pageTitle {
    font-family: Lato, Arial, 'Microsoft YaHei', sarif;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0.25em;
    
    text-shadow: 2px 2px #efefef, 4px 4px #ccc;
    border-bottom-style: double;
    border-bottom-color: #22C3AA;
    border-bottom-width: 8px;
    padding-bottom: 0.2em;
    color: #666;
}

.subtitle {
    color: #22C3AA;
    text-shadow: 1px 1px #fff;
}

.post-block {
    margin: 1.5em 0;
    border-top: 1px dashed #DB6968;
    box-sizing: border-box;
}

.rotBottom.rotLeft {
    margin-top: -150px;
    left: -10px;
}

.rotBottom.rotRight {
    margin-top: -200px;
    margin-bottom: 200px;
    left: 10px;
}

#contentDiv {
    padding: 20px 12%;
    margin: 0 auto;
}

.container {
    padding: 50px 80px;
}

p>img, p>a>img {
    border: dashed;
    border-width: 2px;
    border-color: #AEE2D9;
    max-width: 100%;
    text-decoration: none;
    transition: 0.5s;
}

p img.single-img {
    margin-left: -2em;
}

p>a>img:hover {
    border-color: #d4e583;
}

.pageDiv {
    margin-right: 15px;
    font-size: 120%;
}

.simpleNav {
    text-align: right;
}

.time {
    color: #666;
    margin-top: -0.5em;
}

.tag {
    background-color: #22C3AA;
    padding: 3px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    color: #efefef;
    border-radius: 0.3em;
    box-shadow: 1px 1px 0 1px #ccc;
    font-family: Consolas, "Courier New", Courier;
    font-size: 0.8em;
    text-shadow: none;
    filter: none;
    transition: 0.5s;
}

.tag:hover {
    background-color: #DB6968;
}

.tagPanel {
    margin: 5px 0 -5px 0;
}

.tagPanel a, .tagPanelAll a {
    background-color: transparent;
    border: none;
}

.tag-posts {
    display: none;
}

.timeAll {
    float: right;
    color: #666;
    font-size: 0.8em;
}

.olderNewer {
    font-size: 1.2em;
    margin-bottom: 100px;
}

.olderNewer > div {
    margin: 10px 0;
}

.recentPost {
    float: right;
}

#friendDiv {
    margin-bottom: 200px;
}

.friend {
    width: 128px;
    height: 128px;
    background-color: #AEE2D9;
    border-radius: 64px;
    float: left;
    margin-right: -25px;
    margin-bottom: 20px;
	position: relative;
    transition-duration: 0.5s;
}

.friend:hover {
    background-color: #EEF3F0;
    z-index: 10;
    box-shadow: 0 0 10px 1px #AEE2D9;
}

.friend>a {
    border: none;
}

.friend>a:hover {
    background: transparent;
}

#disqus_thread {
    margin-top: 50px;
}

#footerDiv {
    width: 100%;
}

#footerImg {
    width: 100%;
    height: 10px;
    background: url(../img/footer.png);
    background-repeat: repeat-x;
}

#footerCnt {
    width: 100%;
    background-color: #000;
}

#footer {
    margin: 0 auto;
    padding: 20px 0;
    color: #fff;
}

.book-img {
    width: 200px;
    float: right;
    margin: 0 0 1em 1em;
}

.post-img {
    width: 300px;
    float: right;
    margin: 0 0 1em 1em;
}

.series-recent, .series-recent:visited {
    background-color: #DB6968;
    padding: 8px 20px;
    display: inline-block;
    max-width: 250px;
    color: #efefef;
    text-shadow: 1px 1px #666;
    float: right;
}

.series-recent:hover {
    background-color: #22C3AA;
}

.series-post {
    font-family: Lato, 'Times New Roman', Arial, sarif;
    font-size: 15px;
    display: block;
    background-color: #AEE2D9;
    padding: 8px 20px;
    margin-bottom: 20px;
}

.seriesNote {
    font-weight: bold;
}

.series-self {
	list-style-type: circle;
}

.series-not-self {
	list-style-type: disc;
}

.pagination {
    text-align: center;
    font-size: 1em;
}

.page_number {
    margin: 0 10px;
}

.pagination a {
    background-color: #DB6968;
    padding: 3px 8px;
    color: #efefef;
    border-radius: 0.3em;
    text-shadow: 1px 1px #666;
    box-shadow: 1px 1px 0 1px #ccc;
}

.pagination a:hover {
    background-color: #22C3AA;
}

.allPostLink {
    margin-left: 10px;
}

.gist .gist-file .gist-data {
    background-color: #eef3f0 !important;
    font-size: 14px !important;
}

.gist-file {
    border: dashed 2px #AEE2D9 !important;
    border-radius: 5px !important;
}

.line-numbers {
    border-right: dashed 2px #AEE2D9 !important;
}

.gist-data {
    border-bottom: dashed 2px #AEE2D9 !important;
}

.demo-area {
    border: dashed 2px #AEE2D9;
    color: #70840e;
    border-radius: 5px;
    background-color: #eef3f0;
    display: block;
    position: relative;
}

#mobile-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #AEE2D9;
    display: none;
    z-index: 100;
}

#mobile-nav a {
    padding: 0.5em 0.8em;
    border-right: 1px dashed #22C3AA;
}

.social-share-element {
    width: 40px;
    height: 40px;
    background-color: #555;
    background-image: url('../img/social.png');
    transition: 0.5s;
    display: inline-block;
    margin-right: 2px;
    border-bottom: none;
    border-radius: 50%;
}

.social-share-element:hover {
    background-color: #DB6968;
    border-radius: 5px;
}

.social-share-text {
    font-weight: bold;
    text-indent: 0;
}

.social-twitter {
    background-position: 0 0;
}

.social-facebook {
    background-position: -40px 0;
}

.social-google {
    background-position: -80px 0;
}

.social-linkedin {
    background-position: -120px 0;
}

.social-weibo {
    background-position: -160px 0;
}

.social-digg {
    background-position: 0 40px;
}

.social-douban {
    background-position: -40px 40px;
}

.social-reddit {
    background-position: -80px 40px;
}

.social-stumble {
    background-position: -120px 40px;
}

.social-github {
    background-position: -160px 40px;
}

.inline-img {
    float: right;
    margin: 0 0 0.8em 0.8em;
}

#footer-follow {
    margin: 0 auto;
    width: 220px;
}

.footer-follow-element {
    width: 32px;
    height: 32px;
    background-image: url('../img/social.png');
    background-size: 160px 60px;
    transition: 1s;
    display: inline-block;
    border-bottom: none;
}

.footer-follow-element:hover {
    background-color: #DB6968;
    border-radius: 50%;
}

.footer-follow-twitter {
    background-position: 0 0;
}

.footer-follow-facebook {
    background-position: -32px 0;
}

.footer-follow-google {
    background-position: -64px 0;
}

.footer-follow-linkedin {
    background-position: -96px 0;
}

.footer-follow-weibo {
    background-position: -128px 0;
}

.footer-follow-digg {
    background-position: 0 32px;
}

.footer-follow-douban {
    background-position: -32px 30px;
}

.footer-follow-reddit {
    background-position: -64px 32px;
}

.footer-follow-stumble {
    background-position: -96px 32px;
}

.footer-follow-github {
    background-position: -128px 32px;
}

.button {
    padding: 8px 20px;
    border-radius: 16px;
    background-color: #22C3AA;
    color: #efefef;
    text-shadow: none;
    margin-right: 0.5em;
    display: inline-block;
}

.button:visited {
    color: #efefef;
}

.view-source {
    float: right;
    height: 32px;
    font-size: 75%;
    box-sizing: border-box;
}

#page-view {
    margin-top: 10px;
}

.home-img {
    display: inline-block;
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #22C3AA;
    padding: 28px;
    box-sizing: border-box;
    transition: 0.5s;
    margin: 1.6em 0 0.8em 0.8em;
}

.home-img:hover {
    background-color: #DB6968;
}

.clearfix {
    clear: both;
}

.poem {
	text-align: center;
}

.poem p {
	text-indent: 0;
}

blockquote.poem {
	margin: 0.5em 0 0.5em 2em;
	padding: 1em 2.5em;
	float: right;
	line-height: 2em;
}

blockquote.poem .from {
	font-size: 0.9em;
	margin-top: 1em;
}

.post-no-indent p {
	text-indent: 0;
}

@media screen and (min-width: 600px) {
    .timeago {
        text-align: center;
        color: #efefef;
        float: left;
        margin-left: -120px;
        margin-top: 16px;
        width: 80px;
        height: 80px;
        background-color: #555;
        box-sizing: border-box;
        border-radius: 50%;
        vertical-align: middle;
        font-size: 16px;
        transition: 1s;
        display: none;
        cursor: default;
    }
    
    .timeago:hover {
        background-color: #DB6968;
        -webkit-transform: rotate3d(0, 1, 0, -360deg);
        -ms-transform: rotate3d(0, 1, 0, -360deg);
        transform: rotate3d(0, 1, 0, -360deg);
    }
    
    .timeago-words {
        margin-top: 8px;
        font-size: 14px;
    }
    
    .timeago-figure {
        font-size: 35px;
    }
}

@media screen and (max-device-width: 600px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    p {
        width: 100%;
        line-height: 1.4em;
        font-size: 1em;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.3em;
    }
    
    #contentDiv {
        padding: 0;
        width: 100%;
        overflow: hidden;
    }
    .container {
        padding: 40px 2%;
        width: 96%;
    }
    .pageBack {
        display: none;
    }
    .pageTitle {
        width: 100%;
        font-size: 2.2em;
    }
    .page {
        margin-top: 0;
        margin-bottom: 40px;
    }
    blockquote {
        padding: 15px;
        border-width: 0px 1px 0px 3px;
    }
    h1 {
        margin-left: -2.5%;
        margin-right: -2.5%;
        padding: 10px 2.5%;
        box-shadow: none;
    }
    h2, h3, h4 {
        text-shadow: 1px 1px #efefef, 2px 2px #AEE2D9;
    }
    .simpleNav {
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .series-recent, .series-recent:visited {
        max-width: 100%;
        float: none;
        display: block;
    }
    .book-img {
        width: 120px;
    }
    
    #mobile-nav {
        display: block;
        margin-bottom: 1px solid #22C3AA;
        opacity: 0.8;
    }
    
    #mobile-nav a {
        display: inline-block;
    }
    
    .simpleNav {
        display: none;
    }
    
    .timeago-words {
        display: inline-block;
    }
    
    .timeago {
        margin-top: 1em;
    }
    
    .timeago+.series-recent {
        margin-top: 1em;
    }
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #contentDiv {
        padding: 0;
        width: 100%;
        overflow: hidden;
    }
    .container {
        padding: 40px 4%;
        width: 92%;
    }
    .pageBack {
        display: none;
    }
    .page {
        margin-top: 0;
        margin-bottom: 40px;
    }
    blockquote {
        padding: 15px;
        border-width: 0px 1px 0px 3px;
    }
    h1 {
        margin-left: -4.5%;
        margin-right: -4.5%;
        padding: 10px 4.5%;
        box-shadow: none;
    }
    .series-recent, .series-recent:hover {
        max-width: 100%;
        float: none;
        display: block;
    }
    
    #mobile-nav {
        display: block;
        margin-bottom: 1px solid #22C3AA;
        opacity: 0.8;
    }
    
    #mobile-nav a {
        display: inline-block;
    }
    
    .simpleNav {
        display: none;
    }
    
    .timeago-words {
        display: inline-block;
    }
    
    .timeago {
        margin-top: 1em;
    }
}
