/*------------------------------------*\
    #QUOTES
\*------------------------------------*/

blockquote {
  background-color: $clr-qt-back;
  margin: 20px 0;
  padding: 1em 1.5em;
  border-style: solid;
  border-color: $clr-primary;
  border-width: 0px 1px 0px 7px;
  color: $clr-qt;
  font-size: $ft-sz-qt;
  position: relative;

  &:after {
    display: block;
    content: '“';
    width: 20px;
    padding: 0 10px 10px;
    height: 30px;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    left: -127px;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(200, 200, 200, 0.5);
    z-index: -10;
  }

  p {
    text-indent: 0;
    line-height: 1.75em;
    text-shadow: none;
    color: $clr-def;
    font-family: $ft-fm-quote;
    font-size: $ft-sz-qt;
    word-wrap: break-word;
  }

  h2, h3, h4, h5, h6 {
    text-shadow: $sd-qt-h2-6;
  }

  em {
    color: $clr-def-darker;
  }

  strong {
    -webkit-text-emphasis: dot;
    -webkit-text-emphasis-position: under;
    text-emphasis: dot;
    text-emphasis-position: under;
  }

  a em {
    @extend a;
  }

  a {
    text-shadow: none;
  }

  &.relatedPosts {
    font-size: 90%;
  }
}

.cn blockquote p {
  text-indent: 0;
}

pre > code {
  display: block;
  padding: 10px 15px;
  margin: 10px 0;
  background-color: $clr-code-back;
  overflow-x: auto;
  word-wrap: normal;
  white-space: inherit;
}

code {
  border: dashed 1px $clr-primary;
  color: $clr-dark;
  padding: 2px 8px;
  margin: 5px 0;
  font-size: 0.85em;
  border-radius: 5px;
  font-family: $ft-fm-code;
  text-shadow: none;
  background-color: $clr-code-back;
  word-wrap: break-word;
  white-space: pre;
}

h1>code {
  color: $clr-h1;
}

h2>code, h3>code, h4>code, h5>code, h6>code {
  color: $clr-h2-6;
}
