/*------------------------------------*\
    #PAGE
\*------------------------------------*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: lighten($clr-primary, 50%);
  background-image: radial-gradient(ellipse farthest-corner at 50% 0,
        #DBF5F1 0%, #9BE4D8 100%);

  color: $clr-def-darker;
  overflow-x: hidden;
  font-family: $ft-fm-def;
  font-weight: $ft-wt-def;
  font-size: $ft-sz-def;
}

::selection {
  background-color: $clr-light;
}

.contentDiv {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

.container {
  padding: 50px 80px;
  display: inline-block;
  width: 100%;
  position: relative;

  &.cut-top {
    padding-bottom: 0;
    border-bottom: 3px dashed $clr-primary;
  }

  &.cut-bottom {
    padding-top: 0;

    section:first-child h1 {
      margin-top: 0;
    }
  }
}

iframe {
  border: 1px dashed $clr-light;
}

.page table {
  width: 100%;

  td {
    border-bottom: 1px solid $clr-primary;
  }
}

.music-panel {
  width: 320px;
  margin-right: 1em;
  float: left;

  @media screen and (max-device-width: 600px) {
    width: 100%;
  }
}
