/*------------------------------------*\
    #PARAGRAPH
\*------------------------------------*/

p {
  font-family: $ft-fm-def;
  font-size: $ft-sz-def;
  line-height: 1.6em;
  margin: 0.8em 0;
  text-indent: 2em;
  color: $clr-def-darker;
}
