/*------------------------------------*\
    #TAO
\*------------------------------------*/

$tao-radius: 400px;
$tao-in-radius: 333px;
$tao-border-radius: 176px;
$tao-margin: 33px;

#ovilia-home {
  display: none;
}

#titleDiv {
  width: 100%;
  height: $tao-radius;
  opacity: 0;
  float: left;
}

#titlePanel {
  width: $tao-radius;
  height: $tao-radius;
  margin: 0 auto;
  display: block;
  border: 0;
  &:hover {
    background-color: inherit;
  }
}

#titleTao {
  width: $tao-radius;
  height: $tao-radius;
  display: block;
}

#titleWords {
  width: $tao-radius;
  height: $tao-radius;
  position: relative;
  top: -$tao-radius;
  opacity: 0;
  display: block;
}

#titleCircle {
  width: $tao-in-radius;
  height: $tao-in-radius;
  border-radius: $tao-border-radius;
  margin: $tao-margin 0 0 $tao-margin;
  position: relative;
  top: -$tao-radius * 2;
  cursor: pointer;
}
