/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$clr-primary:          #786f69;
$clr-light:            #a39990;
$clr-lighter:          #d1c4af;
$clr-dark:             #585356;
$clr-darker:           #504a4b;
$clr-contrast:         #585356;
$clr-contrast-dark:    $clr-dark;
$clr-def:              $clr-primary;
$clr-def-light:        $clr-light;
$clr-def-lighter:      lighten($clr-lighter, 5%);
$clr-def-lightest:     lighten($clr-lighter, 10%);
$clr-def-dark:         $clr-dark;
$clr-def-darker:       darken($clr-darker, 10%);
$clr-def-darkest:      darken($clr-darker, 15%);





// Page
$clr-page-back: $clr-lighter;
$clr-page-footer-back: $clr-def-darkest;





// Links
$clr-link:          $clr-contrast;
$clr-link--active:  $clr-def;
$clr-link--hover:   $clr-def;
$clr-link--visited: $clr-contrast-dark;





// Text
$clr-text: $clr-def;





// Title
$clr-h1:    $clr-primary;
$clr-h2-6:  $clr-def-dark;





// Quotes
$clr-qt:            $clr-def-lighter;
$clr-qt-back:       $clr-def-lighter;
$clr-license-back:  $clr-def-lighter;
$clr-code-back:     $clr-def-lighter;




// Buttons
$clr-btn:               $clr-def-lighter;
$clr-btn-back:          $clr-link;
$clr-btn-back--hover:   $clr-link--hover;
$clr-btn-back--visited: $clr-link--visited
