/*------------------------------------*\
    #SHADOWS
\*------------------------------------*/

$sd-h1:             2px 2px $clr-page-back, 4px 4px $clr-light;
$sd-h2-6:           1px 1px $clr-page-back, 2px 2px $clr-light;

$sd-page-title:     $sd-h1;

$sd-qt-h2-6:        1px 1px $clr-qt-back,   2px 2px $clr-primary;

$sd-link:           1px 1px $clr-page-back, 2px 2px $clr-def-light;
$sd-h1-link:        2px 2px $clr-page-back, 4px 4px $clr-def-light;

$sd-def:            1px 1px $clr-def;
$sd-def-lighter:    1px 1px $clr-def-lighter;
