/*------------------------------------*\
    #FONTS
\*------------------------------------*/

// Import fonts
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Light'), local('Lato-Light'), url('../font/lato400.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('../font/lato900.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('../font/lato400i.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('../font/lato900i.woff') format('woff');
}



// Families
$ft-fm--en: Lato;
$ft-fm--cn: "Microsoft YaHei";
$ft-fm--local: sans-serif;

$ft-fm-def: $ft-fm--en, $ft-fm--cn, $ft-fm--local;

$ft-fm-code: Consolas, "Courier New", Courier;





// Weight
$ft-wt-def:   400;
$ft-wt-light: 400;
$ft-wt-bold:  900;

$ft-wt-h1-6: $ft-wt-bold;





// Size

$ft-sz-def:  1.1em;
$ft-sz-sm:   1em;
$ft-sz-smer: 0.8em;

$ft-sz-page-title: 4em;

$ft-sz-h1: 3em;
$ft-sz-h2: 2em;
$ft-sz-h3: 1.75em;
$ft-sz-h4: 1.5em;
$ft-sz-h5: 1.25em;
$ft-sz-h6: 1.1em;

$ft-sz-qt: 1em;
