<a class="button" href="http://zhangwenli.com/#ovilia-home">About Me</a>
<a class="button" href="{{ site.url }}">Blog</a>
<a class="button" href="{{ site.url }}/notes">Notes</a>
<a class="button" href="http://zhangwenli.com/#projects">Projects</a>
<a class="button" href="mailto:me@zhangwenli.com" target="_blank">Email Me</a>
<a class="button" href="{{ site.url }}/meta" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToSiteMap', 'InRecent', 'recentBtn']);">Site Map</a>

<p>I'm <em>Wenli Zhang</em> and this blog is concerned about <em>Web Front-End</em>, my book reviews and other interesting topics. Please feel free to <a href="#comments">leave a comment</a> or contact me by <a href="mailto:me@zhangwenli.com?subject=Interested+In+Your+Blog+Posts" target="_blank">email</a> if you have any question. Check <a href="http://zhangwenli.com" onclick="_gaq.push(['_trackEvent', 'ToHome', 'InRecentAboutMe', window.location.pathname]);">Home Page</a> to know more about me.</p>

{% include license.html %}
