<div class="center">
    <a class="button" href="{{ site.url }}" onclick="_gaq.push(['_trackEvent', 'ToBlog', 'InNav', window.location.pathname]);">Blog</a>
    <!--<a class="button" href="http://zhangwenli.com/cv" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToCv', 'InNav', window.location.pathname]);">CV</a>-->
    <!-- <a class="button" href="http://zhangwenli.com/#ovilia-home" onclick="_gaq.push(['_trackEvent', 'ToHome', 'InNav', window.location.pathname]);">About Me</a> -->
    <!--a class="button" href="http://zhangwenli.com/#projects" onclick="_gaq.push(['_trackEvent', 'ToProject', 'InNav', window.location.pathname]);">Projects</a-->
    <a class="button" href="mailto:me@zhangwenli.com" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToEmail', 'InNav', window.location.pathname]);">Email Me</a>
    <a class="button" href="{{ site.url }}/meta" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToSiteMap', 'InNav', window.location.pathname]);">Site Map</a>
</div>

<p>I'm <em>Ovilia</em> and this blog is concerned about <em>Web Front-End</em>, my book reviews and other interesting topics. Please feel free to <a href="#comments">leave a comment</a> or contact me by <a href="mailto:me@zhangwenli.com?subject=Interested+In+Your+Blog+Posts" target="_blank">email</a> if you have any question.</p>

{% include license.html %}

<p class="center"><a class="button" href="{{ site.url }}/tip" onclick="_gaq.push(['_trackEvent', 'ToTip', 'InAboutMe', window.location.pathname]);">送羡辙一本书，让她写出更棒的作品！</a></p>
