{% if page.tags[0] == '中文' %}
<h1>评论</h1>
{% else %}
<h1>Comments</h1>
{% endif %}

{% if page.no_comment == null %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    setTimeout(function() {
        var disqus_shortname = 'wenli';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    }, 10000);
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% else %}
{% if page.tags[0] == '中文' %}
<p>本页不允许评论，如需讨论，可以<a href="mailto:me@zhangwenli.com?subject=comments on {{ page.title }}">给我发邮件</a>。</p>
{% else %}
<p>Comments are disabled in this page. You may <a href="mailto:me@zhangwenli.com?subject=comments on {{ page.title }}">email me</a> for private discussion.</p>
{% endif %}
{% endif %}
