        </div>
        
        <div id="footerDiv">
            <div id="footerImg"></div>
            <div id="footerCnt">
                <div id="footer">
                </div>
            </div>
        </div>
            
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/syntax.css" />
        
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
            
        <script type="text/javascript" src="{{ site.url }}/js/lazyLoad.js"></script>
        <script type="text/javascript" src="{{ site.url }}/js/common.js"></script>
    </body>
</html>
