<h1 id="friendTitle">Blogroll</h1>
<div id="friendDiv">
    <div class="friend fri_chentian">
        <a href="http://bigtinabang.com" target="_blank" title="Chen Tian" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'ChenTian', window.location.pathname]);">
            <img src="/blog/img/loading.gif" data-src="/blog/img/chen-tian128.png" />
        </a>
    </div>
    <div class="friend fri_liyao">
        <a href="http://liyaos.com" target="_blank" title="Yao Li" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Liyao', window.location.pathname]);">
            <img src="/blog/img/loading.gif" data-src="/blog/img/li-yao128.png" />
        </a>
    </div>
    <div class="friend fri_chaobin">
        <a href="http://zhchbin.github.io/" target="_blank" title="Chaobin Zhang" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Chaobin', window.location.pathname]);">
            <img src="/blog/img/loading.gif" data-src="/blog/img/chao-bin128.png" />
        </a>
    </div>
    <div class="friend fri_zhipeng">
        <a href="http://jesusjzp.github.io" target="_blank" title="Zhipeng Jiang" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Zhipeng', window.location.pathname]);">
            <img src="/blog/img/loading.gif" data-src="/blog/img/zhi-peng128.png" />
        </a>
    </div>
    <!--div class="friend fri_wujiang">
        <a href="http://blog.wujiang.name/" target="_blank" title="Wu Jiang" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Wujiang', window.location.pathname]);">
            <img src="/blog/img/loading.gif" data-src="/blog/img/wu-jiang128.png" />
        </a>
    </div-->
    <div class="friend fri_huiyi">
        <a href="http://blog.csdn.net/jokes000" target="_blank" title="Li Huiyi" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Huiyi', window.location.pathname]);">
            <img src="/blog/img/loading.gif" data-src="/blog/img/hui-yi128.png" />
        </a>
    </div>
    <div class="friend fri_jiawei">
        <a href="http://wuciawe.github.io" target="_blank" title="Hu Jiawei" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Jiawei', window.location.pathname]);">
            <img src="/blog/img/loading.gif" data-src="/blog/img/jia-wei128.png" />
        </a>
    </div>
    <div class="friend fri_wenhao">
        <a href="http://www.liwenhaosuper.com/" target="_blank" title="Li Wenhao" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Wenhao', window.location.pathname]);">
            <img src="/blog/img/loading.gif" data-src="/blog/img/wen-hao128.png" />
        </a>
    </div>
    <div style="clear: both"></div>
    <p>
        <a href="http://muxueqz.gitcafe.io/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Mingyuan', window.location.pathname]);">明源</a> |

        <a href="http://zhu.tianhua.me/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'zhu-th', window.location.pathname]);">zhu-th</a> |

        <a href="http://jerryzou.com/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'ZouRunyang', window.location.pathname]);">咀嚼之味</a> |

        <a href="http://xudifsd.org/blog/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Xudifsd', window.location.pathname]);">Xudifsd</a> |

        <a href="http://gaocegege.com/Blog/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'GaoCe', window.location.pathname]);">高策</a> |

        <a href="http://liudong.me/index.html" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'beforeload', window.location.pathname]);">元千</a> |

        <a href="http://wwsun.me/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'XiaoFengWell', window.location.pathname]);">晓风well</a> |

        <a href="http://fkysly.com/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'futurePlayer', window.location.pathname]);">fkysly</a> |

        <a href="http://nanshu.wang/about/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Gardenia', window.location.pathname]);">Gardenia</a> |

        <a href="http://www.anotherhome.net/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Anotherhome', window.location.pathname]);">Anotherhome</a> |

        <a href="http://www.flygon.net/link" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'longque', window.location.pathname]);">龙雀</a> |

        <a href="http://dobest.me/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Eric Wong', window.location.pathname]);">Eric Wong</a> |

        <a href="http://simmer-jun.github.io/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Simmer', window.location.pathname]);">Simmer</a> |

        <a href="http://inkhkkk.com/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'inkhk', window.location.pathname]);">inkhk</a> |

        <a href="http://gaohaoyang.github.io/about/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'HyG', window.location.pathname]);">HyG</a> |
        
        <a href="http://xuanchao1980.com/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'xuanchao', window.location.pathname]);">等待壹九八零</a> |

        <a href="http://klam.cc/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'klamtine', window.location.pathname]);">klamtine</a> |

        <a href="http://chenpeng.info" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'chenpeng', window.location.pathname]);">陈鹏</a> |

        <a href="http://xtutu.me" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'xtutu', window.location.pathname]);">xtutu</a>
    </p>
</div>
