<h1 id="friendTitle">Blogroll</h1>
<div id="friendDiv">
    <p>
        <a href="https://blogs.msdn.microsoft.com/formulahendry/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'hanjun', window.location.pathname]);">Formula Hendry</a> |
        <a href="http://wuciawe.github.io/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Jiawei', window.location.pathname]);">Jiawei</a> |
        <a href="https://leiquan.website/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'leiquan', window.location.pathname]);">雷全</a> |
        <a href="http://zpjiang.me/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'zhipeng', window.location.pathname]);">Zhipeng</a> |
        <a href="http://zhchbin.github.io/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Chaobin', window.location.pathname]);">Chaobin</a> |
        <a href="http://liyaos.com" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'liyao', window.location.pathname]);">Lastland</a> |

        <a href="http://muxueqz.coding.me" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Mingyuan', window.location.pathname]);">明源</a> |

        <a href="http://zhu.tianhua.me/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'zhu-th', window.location.pathname]);">zhu-th</a> |

        <a href="http://jerryzou.com/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'ZouRunyang', window.location.pathname]);">咀嚼之味</a> |

        <a href="http://xudifsd.org/blog/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Xudifsd', window.location.pathname]);">Xudifsd</a> |

        <a href="http://gaocegege.com/Blog/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'GaoCe', window.location.pathname]);">高策</a> |

        <a href="http://nanshu.wang/about/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Gardenia', window.location.pathname]);">Gardenia</a> |

        <a href="http://www.anotherhome.net/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Anotherhome', window.location.pathname]);">Anotherhome</a> |

        <a href="http://www.flygon.net" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'longque', window.location.pathname]);">龙雀</a> |

        <a href="http://dobest.me/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Eric Wong', window.location.pathname]);">Eric Wong</a> |

        <a href="http://simmer-jun.github.io/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'Simmer', window.location.pathname]);">Simmer</a> |

        <a href="http://inkhkkk.com/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'inkhk', window.location.pathname]);">inkhk</a> |

        <a href="http://gaohaoyang.github.io/about/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'HyG', window.location.pathname]);">HyG</a> |

        <a href="http://xuanchao1980.com/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'xuanchao', window.location.pathname]);">等待壹九八零</a> |

        <a href="http://chenpeng.info" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'chenpeng', window.location.pathname]);">陈鹏</a> |

        <a href="http://xtutu.me" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'xtutu', window.location.pathname]);">xtutu</a> |

        <a href="http://chinchao.xyz/" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'chinchao', window.location.pathname]);">秦超</a> |

        <a href="http://liudong.me/index.html" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'beforeload', window.location.pathname]);">元千</a> |

        <a href="http://zhaoyuxiang.cn" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'zhaoyuxiang', window.location.pathname]);">天道总司</a>
    </p>
</div>
