<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-38205696-1']);
            _gaq.push(['_trackPageview']);
            
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
        </script>
        
        <meta charset="utf-8">
        <title>{{ site.name }}</title>
        <meta name="description" content="{{ site.description }}" />
        
        <link rel="shortcut icon" href="/blog/img/me.ico">
            
        <link rel="stylesheet" type="text/css" href="/blog/css/default.css" />
        
        
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        
        <script type="text/javascript" src="/blog/js/lazyLoad.js"></script>
        <script type="text/javascript" src="/blog/js/common.js"></script>
    </head>
    
    <body>        
        <div id="contentDiv">
