<blockquote class="seriesNote">
{% if isZn %}
    <h4>系列博文：{{ page.series }}</h4>
{% else %}
    <h4>Series: {{ page.series }}</h4>
{% endif %}
    
    <ul>
    {% if page.series == '送 Wenli 一本书，让她写出更棒的作品' %}
        <li class="series-not-self"><a href="{{ site.url }}/tip/" onclick="_gaq.push(['_trackEvent', 'ToTip', 'InSeries', window.location.pathname]);">送 Wenli 一本书，让她写出更棒的作品！</a></li>
    {% endif %}
    {% for post in site.posts reversed %}
        {% if post.series == page.series %}
            {% if page.url != post.url %}
                <li class="series-not-self"><a href="{{ site.url }}{{ post.url }}" onclick="_gaq.push(['_trackEvent', 'ToPost', 'InSeries', window.location.pathname]);">
            {% else %}
                <li class="series-self">
            {% endif %}
            
            {% if isZn %}
                {{ post.title }}{% if post.subtitle != null %}：{{ post.subtitle }}{% endif %}
            {% else %}
                {% if post.subtitle != null %}{{ post.subtitle }} {% endif %}{{ post.title }}
            {% endif %}
            
            {% if page.url != post.url %}
                </a>
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</blockquote>
