{% include header.html %}
 
<a href="http://zhangwenli.com/blog">
    <div id="homeDiv"></div>
</a>
<div class="rotLeft rotTop pageBack"></div>
<div class="rotRight rotTop pageBack"></div>
<div class="container page">
    <div class="pageTitle">{{ page.title }}</div>
    
    <div class="time">{{ page.time }}</div>
            
    <div id="tagPanel">
    {% for tag in page.tags %}
        <div class="tag">{{ tag }}</div>
    {% endfor%}
    </div>
    
    {{ content }}
    {% include comment.html %}
</div>
<div class="rotLeft rotBottom pageBack"></div>
<div class="rotRight rotBottom pageBack"></div>

{% include footer.html %}
 