{% include header.html %}
 
        <a href="http://zhangwenli.com/blog">
            <div id="homeDiv"></div>
        </a>
        
{% for post in site.posts limit: 10 %}

            <div class="rotLeft rotTop pageBack"></div>
            <div class="rotRight rotTop pageBack"></div>
            <div class="container page">
                <div class="pageTitle">{{ post.title }}</div>
                
                <div class="time">{{ post.time }}</div>
                        
                <div id="tagPanel">
                {% for tag in post.tags %}
                    <div class="tag">{{ tag }}</div>
                {% endfor%}
                </div>
                
                {{ post.content }}
                {% include comment.html %}
            </div>
            <div class="rotLeft rotBottom pageBack"></div>
            <div class="rotRight rotBottom pageBack"></div>

{% endfor %}

{% include footer.html %}
 