{% include header.html %}

<title>{% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}
    {% if page.series %}
        : {{ page.series }}
    {% endif %}
 - 羡辙杂俎</title>


{% assign isZn = false %}
{% for tag in page.tags %}
    {% if tag == '中文'%}
        {% assign isZn = true %}
    {% endif %}
{% endfor %}
<div class="rotLeft rotTop pageBack"></div>
<div class="rotRight rotTop pageBack"></div>
<div class="container page{% if isZn %} cn{% endif %} page-post">
    {% if page.titleImg != null %}
    <div class="post-title-img">
        <img src="{{ site.url }}{{ page.titleImg }}" />
        <div class="post-title-hover"></div>
    </div>
    {% endif %}

    <div class="simpleNav">
        <a href="http://zhangwenli.com" class="pageDiv" onclick="_gaq.push(['_trackEvent', 'ToHome', 'InPost', window.location.pathname]);">{% if isZn %}首页{% else %}Home{% endif %}</a>
        <a href="{{ site.url }}" class="pageDiv" onclick="_gaq.push(['_trackEvent', 'ToBlog', 'InPost', window.location.pathname]);">{% if isZn %}博客{% else %}Blog{% endif %}</a>
    </div>

    {% assign time = page.time %}
    {% if page.update_time %}
        {% assign time = page.update_time %}
    {% endif %}
    <div class="timeago{% if isZn == true %} cn{% endif %}" title="{{ time | replace: '.', '-' | replace: ' ', 'T' }}+08:00">{{ time }}</div>

    {% if page.subtitle != null %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    <div class="pageTitle">{{ page.title }}</div>

    <div class="tagPanel">
    {% for tag in page.tags %}<a href="{{ site.url }}/all?tag={{ tag }}" onclick="_gaq.push(['_trackEvent', 'ToTag', 'InPost', window.location.pathname]);"><div class="tag">{{ tag }}</div></a>{% endfor %}
    </div>

    {% if page.series %}
        {% include series.html %}
    {% endif %}

    <div id="page-view"></div>


    {% if page.postClass != null %}<div class="{{ page.postClass }}">{% endif %}
    {{ content }}
    <div class="clear"></div>
    {% if page.postClass != null %}</div>{% endif %}


    <a style="text-align: center; display: block;" href="{{ site.url }}/tip/" onclick="_gaq.push(['_trackEvent', 'ToTip', 'InPostImg', window.location.pathname]);">
        <img src="{{ site.url }}/img/tip.png" style="width: 80px" />
    </a>
    <div style="text-align: center; color: #666;">博文对你有帮助吗？如果有的话，要不要<a href="{{ site.url }}/tip/" onclick="_gaq.push(['_trackEvent', 'ToTip', 'InPost', window.location.pathname]);">送我一本书</a>呢？:heart_eyes:</div>


    {% if page.series %}
        {% include series.html %}
    {% endif %}

    {% assign tagStr = '' %}
    {% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
    {% if page.shortUrl != null %}
        {% assign url = page.shortUrl %}
        {% for tag in page.tags %}
            {% capture len %}{{ tagStr | append: tag | append: page.title | append: page.subtitle }}{% endcapture %}
            {% if len.size < 100 %}
            {% capture tagStr %}{{ tagStr }},{{ tag }}{% endcapture %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <hr />
    
    <p class="no-indent">微信公众号“羡辙部落格”（xianzheblog）提供本站优质非技术类博文推送。</p>
    
    <div class="social-share">
        <a class="social-share-element social-twitter" href="https://twitter.com/intent/tweet?text={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}&url={{ url }}&via=OviliaZhang&hashtags={{ tagStr }}" target="_blank" title="Share this post on Twitter" onclick="_gaq.push(['_trackEvent', 'Share', 'Twitter', window.location.pathname]);"></a>
        <a class="social-share-element social-facebook" href="https://www.facebook.com/sharer/sharer.php?t={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}&u={{ url }}" target="_blank" title="Share this post on Facebook" onclick="_gaq.push(['_trackEvent', 'Share', 'Facebook', window.location.pathname]);"></a>
        <a class="social-share-element social-google" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share this post on Google Plus" onclick="_gaq.push(['_trackEvent', 'Share', 'GPlus', window.location.pathname]);"></a>
        <a class="social-share-element social-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&title={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}&url={{ url }}&source=http%3a%2f%2fzhangwenli.com" target="_blank" title="Share this post on LinkedIn" onclick="_gaq.push(['_trackEvent', 'Share', 'LinkedIn', window.location.pathname]);"></a>
        <a class="social-share-element social-digg" href="http://digg.com/submit?url={{ site.url }}{{ page.url }}&title={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}" target="_blank" title="Share this post on Digg" onclick="_gaq.push(['_trackEvent', 'Share', 'Digg', window.location.pathname]);"></a>
        <a class="social-share-element social-reddit" href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}" target="_blank" title="Share this post on Reddit" onclick="_gaq.push(['_trackEvent', 'Share', 'Reddit', window.location.pathname]);"></a>
        <a class="social-share-element social-stumble" href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ page.url }}&title={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}" target="_blank" title="Share this post on StumbleUpon" onclick="_gaq.push(['_trackEvent', 'Share', 'StumbleUpon', window.location.pathname]);"></a>
        <a class="social-share-element social-weibo" href="http://v.t.sina.com.cn/share/share.php?title=来看看+%40羡辙+的博文吧：{% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}&url={{ url }}{% if page.titleImg != null %}&pic={{ page.titleImg }}{% endif %}" target="_blank" title="Share this post on Sina Weibo" onclick="_gaq.push(['_trackEvent', 'Share', 'Weibo', window.location.pathname]);"></a>
        <a class="social-share-element social-douban" href="http://shuo.douban.com/!service/share?href={{ site.url }}{{ page.url }}&name={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}{% if page.titleImg != null %}&image={{ page.titleImg }}{% endif %}" target="_blank" title="Share this post on Dounban" onclick="_gaq.push(['_trackEvent', 'Share', 'Douban', window.location.pathname]);"></a>
    </div>

    <blockquote class="relatedPosts">
        {% assign hasSimilar = '' %}
        {% for post in site.posts %}
            {% assign postHasSimilar = false %}
            {% for tag in post.tags %}
                {% if tag != '中文' and post.title != page.title %}
                {% for thisTag in page.tags %}
                    {% if postHasSimilar == false and hasSimilar.size < 5 and tag == thisTag %}
                        {% if hasSimilar.size == 0 %}
                        <h4>{% if isZn %}相似博文{% else %}Similar Posts{% endif %}</h4>
                        <ul>
                        {% endif %}
                        <li class="relatedPost">
                            <a href="{{ site.url }}{{ post.url }}" onclick="_gaq.push(['_trackEvent', 'ToPost', 'InRelated', window.location.pathname]);">
                            {% assign isZn = false %}
                            {% for pt in post.tags %}
                                {% if pt == '中文' %}
                                    {% assign isZn = true %}
                                {% endif %}
                            {% endfor %}
                            {% if isZn %}
                                {{ post.title }}{% if post.subtitle != null %}：{{ post.subtitle }}{% endif %}
                            {% else %}
                                {% if post.subtitle != null %}{{ post.subtitle }} {% endif %}{{ post.title }}
                            {% endif %}
                            </a>
                        </li>
                        {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                        {% assign postHasSimilar = true %}
                    {% endif %}
                {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if hasSimilar.size > 0 %}
            </ul>
        {% endif %}

        <h4>{% if isZn %}最近发表{% else %}Recent Posts{% endif %}</h4>
        <ul>
        {% for post in site.posts limit:5 %}
            <li class="relatedPost">
                <a href="{{ site.url }}{{ post.url }}" onclick="_gaq.push(['_trackEvent', 'ToPost', 'InRecent', window.location.pathname]);">
                {% assign isZn = false %}
                {% for pt in post.tags %}
                    {% if pt == '中文' %}
                        {% assign isZn = true %}
                    {% endif %}
                {% endfor %}
                {% if isZn %}
                    {{ post.title }}{% if post.subtitle != null %}：{{ post.subtitle }}{% endif %}
                {% else %}
                    {% if post.subtitle != null %}{{ post.subtitle }} {% endif %}{{ post.title }}
                {% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>
        <a class="button" href="{{ site.url }}/all" onclick="_gaq.push(['_trackEvent', 'ToAllPost', 'InPost', window.location.pathname]);">View All Posts</a></p>
    </blockquote>



    {% include license.html %}

    {% include comment.html %}
</div>
<div class="rotLeft rotBottom pageBack"></div>
<div class="rotRight rotBottom pageBack"></div>

{% include footer.html %}
