{% include header.html %}

<title>{{ site.name }} - 羡辙杂俎</title>

<div class="rotLeft rotTop pageBack home-page"></div>
<div class="rotRight rotTop pageBack home-page"></div>
<div class="container page cut-top home-page">
    <div class="pageSubHeadLine">羡辙杂俎</div>
    <div class="pageHeadLine">TL;DR</div>
    <div class="pageDescription">A blog that you won't read.</div>
    <!-- <div class="simpleNav">
        <a href="http://zhangwenli.com" onclick="_gaq.push(['_trackEvent', 'ToHome', 'InRecent', window.location.pathname]);">Home</a>
    </div>
    <h2 class="subtitle">
        <img class="subtitle-logo" src="{{ site.url }}/img/owl-logo.png" />
        Blog of Wenli Zhang
        <a class="title-img" href="{{ site.url }}/feed.xml" title="RSS of Wenli Zhang" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToRss', 'AllRss', window.location.pathname]);">
            <img src="{{ site.url }}/img/rss-green.png" />
        </a>
    </h2>
    <div class="pageTitle center">羡辙杂俎</div> -->
</div>
</div>

<div class="contentDiv">
<div class="container page cut-bottom">

<section>
    <h1>About Me</h1>
    {% include aboutMe.html %}
</section>

<section id="post-section-en">
    <h1>Technical Posts<a class="title-img" href="{{ site.url }}/feed-en.xml" title="RSS of Technical Posts" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToRss', 'EnRss', window.location.pathname]);"><img src="{{ site.url }}/img/rss-green.png" /></a></h1>
    {% comment %}
    {% assign start = -1 | times: paginator.per_page | times: paginator.page %}
    {% if paginator.page == paginator.total_pages %}
        {% assign start = 0 %}
    {% endif %}
    {% assign sorted_post = site.posts | sort: "time" | slice: start, paginator.per_page %}
    {% endcomment %}

    {% for post in paginator.posts %}
        {% if post.hide != true %}
            {% assign isZn = false %}
            {% for tag in post.tags %}
                {% if tag == '中文'%}
                    {% assign isZn = true %}
                {% endif %}
            {% endfor %}

            {% if isZn == false %}
            <div class="post-block">
                {% assign time = post.time %}
                <div class="timeago" title="{{ time | replace: '.', '-' | replace: ' ', 'T' }}+08:00">{{ time }}</div>

                <h5 class="post-series">
                    {% if post.series %}
                    <a href="{{ site.url }}{{ post.url }}" class="series-recent" onclick="_gaq.push(['_trackEvent', 'ToSeries', '{{ postCnt.size }}thPost', window.location.pathname]);">Series: {{ post.series }}</a>
                    {% endif %}
                </h5>
                <h2>
                    <a href="{{ site.url }}{{ post.url }}" onclick="_gaq.push(['_trackEvent', 'ToPost', 'InRecent', '{{ post.url }}">{% if post.subtitle != null %}{{ post.subtitle }} {% endif %}{{ post.title }}</a>
                </h2>

                <div class="tagPanel">
                {% for tag in post.tags %}
                    <a href="{{ site.url }}/all?tag={{ tag }}" onclick="_gaq.push(['_trackEvent', 'ToTag', 'InRecent', '{{ postCnt.size }}thPost']);"><div class="tag">{{ tag }}</div></a>
                {% endfor%}
                {% if post.category == 'note' %}
                    <a href="{{ site.url }}/notes" onclick="_gaq.push(['_trackEvent', 'ToNote', 'InRecent', '{{ postCnt.size }}thPost']);"><div class="tag">Note</div></a>
                {% endif %}
                </div>

                {{ post.excerpt | markdownify }}
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="pagination">
    {% if paginator.page != 1 %}
        <a href="{{ site.url }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '1thPage', window.location.pathname]);">First Page</a>
    {% endif %}
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="{{ site.url }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '1thPage', window.location.pathname]);">Previous</a>
        {% else %}
            <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '{{ paginator.previous_page }}thPage', window.location.pathname]);">Previous</a>
        {% endif %}
    {% endif %}
    <span class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <a href="{{ site.url }}/page{{ paginator.next_page }}" class="next" onclick="_gaq.push(['_trackEvent', 'ToNextPage', '{{ paginator.next_page }}thPage', window.location.pathname]);">Next</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ site.url }}/page{{ paginator.total_pages }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '1thPage', window.location.pathname]);">Last Page</a>
    {% endif %}
    <a href="{{ site.url }}/all/" class="allPostLink" onclick="_gaq.push(['_trackEvent', 'ToAllPost', 'InRecentNav', window.location.pathname]);">All Posts</a>
    </div>
</section>

<section id="post-section-zn">
    <h1>中文博客<a class="title-img" href="{{ site.url }}/feed-cn.xml" title="订阅中文博客RSS" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToRss', 'CnRss', window.location.pathname]);"><img src="{{ site.url }}/img/rss-green.png" /></a></h1>
    {% for post in paginator.posts %}
        {% if post.hide != true %}
            {% assign isZn = false %}
            {% for tag in post.tags %}
                {% if tag == '中文'%}
                    {% assign isZn = true %}
                {% endif %}
            {% endfor %}

            {% if isZn == true %}
            <div class="post-block cn">
                {% assign time = post.time %}
                <div class="timeago cn" title="{{ time | replace: '.', '-' | replace: ' ', 'T' }}+08:00">{{ time }}</div>

                <h5 class="post-series">
                    {% if post.series %}
                    <a href="{{ site.url }}{{ post.url }}" class="series-recent" onclick="_gaq.push(['_trackEvent', 'ToSeries', '{{ postCnt.size }}thPost', window.location.pathname]);">系列博文：{{ post.series }}</a>
                    {% endif %}
                </h5>
                <h2>
                    <a href="{{ site.url }}{{ post.url }}" onclick="_gaq.push(['_trackEvent', 'ToPost', 'InRecent', '{{ post.url }}">{{ post.title }}{% if post.subtitle != null %}：{{ post.subtitle }}{% endif %}</a>
                </h2>

                <div class="tagPanel">
                {% for tag in post.tags %}
                    <a href="{{ site.url }}/all?tag={{ tag }}" onclick="_gaq.push(['_trackEvent', 'ToTag', 'InRecent', '{{ postCnt.size }}thPost']);"><div class="tag">{{ tag }}</div></a>
                {% endfor%}
                {% if post.category == 'note' %}
                    <a href="{{ site.url }}/notes" onclick="_gaq.push(['_trackEvent', 'ToNote', 'InRecent', '{{ postCnt.size }}thPost']);"><div class="tag">笔记</div></a>
                {% endif %}
                </div>

                {{ post.excerpt | markdownify }}
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="pagination">
    {% if paginator.page != 1 %}
        <a href="{{ site.url }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '1thPage', window.location.pathname]);">首页</a>
    {% endif %}
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="{{ site.url }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '1thPage', window.location.pathname]);">上一页</a>
        {% else %}
            <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="previous" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '{{ paginator.previous_page }}thPage', window.location.pathname]);">上一页</a>
        {% endif %}
    {% endif %}
    <span class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <a href="{{ site.url }}/page{{ paginator.next_page }}" class="next" onclick="_gaq.push(['_trackEvent', 'ToNextPage', '{{ paginator.next_page }}thPage', window.location.pathname]);">下一页</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ site.url }}/page{{ paginator.total_pages }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '1thPage', window.location.pathname]);">末页</a>
    {% endif %}
    <a href="{{ site.url }}/all/" class="allPostLink" onclick="_gaq.push(['_trackEvent', 'ToAllPost', 'InRecentNav', window.location.pathname]);">所有博文</a>
    </div>
</section>

    {% include license.html %}

    {% if paginator.page == 1 %}
        {% include friends.html %}
        {% include comment.html %}
    {% endif %}
</div>
<div class="rotLeft rotBottom pageBack"></div>
<div class="rotRight rotBottom pageBack"></div>

<script type="text/javascript">
    // check language and show Chinese sections first if is zh-...
    var lan = navigator.language;
    if (lan && lan.length > 1 && lan.slice(0, 2) === 'zh') {
        // is Chinese
        jQueryCallBack = function () {
            // change Chinese and English post order
            var en = $('#post-section-en').remove();
            $('#post-section-zn').after(en);
        }
    }
</script>

{% include footer.html %}
