{% include header.html %}

        <title>{{ site.name }}</title>

            <div class="rotLeft rotTop pageBack"></div>
            <div class="rotRight rotTop pageBack"></div>
            <div class="container page">
                <div class="simpleNav">
                    <a href="http://zhangwenli.com">Home</a>
                </div>
                <div class="pageTitle">Blog of Wenli Zhang</div>
                
                <p>I'm Wenli Zhang and this blog is concerned about Web Front-End and other interesting topics. Please feel free to <a href="#disqus_thread">leave a comment</a> or contact me by <a href="mailto:me@zhangwenli.com?subject=Interested+In+Your+Blog+Posts" target="_blank">email</a> if you have any question.</p>
                
                <h1>Recent Posts</h1>
                
                {% for post in site.posts limit: 16 %}
                
                    <blockquote>
                        <h3><a href=".{{ post.url }}">{{ post.title }}</a></h3>
                        <div class="time">{{ post.time }}</div>
                        
                        <div id="tagPanel">
                        {% for tag in post.tags %}
                            <div class="tag">{{ tag }}</div>
                        {% endfor%}
                        </div>
                        
                        <p>{{ post.excerpt | markdownify }}</p>
                        <h5><a href=".{{ post.url }}" target="_blank">More...</a></h5>
                    </blockquote>
                
                {% endfor %}
    
                <div class="license">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">
                        <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" />
                    </a>
                    <div><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Every blog post in this site</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://zhangwenli.com" property="cc:attributionName" rel="cc:attributionURL">Wenli Zhang</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>, based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://github.com/ovilia/blog" rel="dct:source">http://github.com/ovilia/blog</a>. </div>
                    <div>You must reference <code>Author: &lt;a href=&quot;http://zhangwenli.com&quot;&gt;Wenli Zhang&lt;/a&gt;</code> explictly along with this license note if you want to re-post the content, either completely or partially.</div>
                </div>
                
                <h1 id="friendTitle">Friend List</h1>
                <p>Now, let me introduce some of my friends who (also) write excellent blogs.</p>
                <div id="friendDiv">
                    <div class="friend fri_liyao">
                        <a href="http://liyaos.com" target="_blank" title="Yao Li">
                            <img src="/blog/img/loading.gif" data-src="/blog/img/li-yao128.png" />
                        </a>
                    </div>
                    <div class="friend fri_chaobin">
                        <a href="http://zhchbin.github.io/" target="_blank" title="Chaobin Zhang">
                            <img src="/blog/img/loading.gif" data-src="/blog/img/chao-bin128.png" />
                        </a>
                    </div>
                    <div class="friend fri_zhipeng">
                        <a href="http://jesusjzp.github.io" target="_blank" title="Zhipeng Jiang">
                            <img src="/blog/img/loading.gif" data-src="/blog/img/zhi-peng128.png" />
                        </a>
                    </div>
                    <div class="friend fri_wujiang">
                        <a href="http://blog.wujiang.name/" target="_blank" title="Wu Jiang">
                            <img src="/blog/img/loading.gif" data-src="/blog/img/wu-jiang128.png" />
                        </a>
                    </div>
                    <div class="friend fri_huiyi">
                        <a href="http://blog.csdn.net/jokes000" target="_blank" title="Li Huiyi">
                            <img src="/blog/img/loading.gif" data-src="/blog/img/hui-yi128.png" />
                        </a>
                    </div>
                </div>

                {% include comment.html %}
            </div>
            <div class="rotLeft rotBottom pageBack"></div>
            <div class="rotRight rotBottom pageBack"></div>

{% include footer.html %}
